<?xml version="1.0"?>
<config>
    <modules>
        <Kush_Reviewimage>
            <version>1.0.3</version>
        </Kush_Reviewimage>
    </modules>
     <frontend>
         <routers>
           <review>
                 <args>  
                 <modules>
                        <Kush_Reviewimage before="Mage_Review">Kush_Reviewimage</Kush_Reviewimage>
                </modules>
                </args>
           </review>
         </routers>
         <layout>
            <updates>
                <reviewimage>
                    <file>reviewimage.xml</file>
                </reviewimage>
            </updates>
        </layout>
     </frontend>
    <adminhtml>
     <acl>
          <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <reviewimage>
                                        <title>Review Image</title>
                                    </reviewimage>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
   </adminhtml>
     <global>
	<resources>
            <reviewimage_setup>
                <setup>
                    <module>Kush_Reviewimage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reviewimage_setup>
            <reviewimage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviewimage_write>
            <reviewimage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviewimage_read>
        </resources>
	  <models>
             <review>
               <rewrite>
                   <review>Kush_Reviewimage_Model_Review</review><!--reviews models rewrite here-->
               </rewrite>  
             </review>
             
             
           <review_resource>
               <rewrite>
                     <review>Kush_Reviewimage_Model_Resource_Review</review>
               </rewrite>  
             </review_resource>
            
          <review_resource>
               <rewrite>
                <review_collection>Kush_Reviewimage_Model_Resource_Review_Collection</review_collection>
              </rewrite>  
              </review_resource>
          </models>
          <blocks>
              <adminhtml>
                <rewrite><review_edit_form>Kush_Reviewimage_Block_Adminhtml_Review_Edit_Form</review_edit_form></rewrite>
              </adminhtml>
           </blocks>
            <helpers>
                  <reviewimage>
                   <class>Kush_Reviewimage_Helper</class>
                  </reviewimage>
           </helpers>
    </global>
    <default>
        <reviewimage>
            <reimage>
               <reimagefield>1</reimagefield> 
               <imageresolution>198</imageresolution>
             </reimage>
        </reviewimage>
    </default>        
</config>